/*-- scss:defaults --*/

$body-color: #dee2e6;
$body-color-rgb: 222, 226, 230;
$body-bg: #212121;
$body-bg-rgb: 33, 33, 33;
$emphasis-color: #fff;
$emphasis-color-rgb: 255, 255, 255;
$secondary-color: rgba(222, 226, 230, 0.75);
$secondary-color-rgb: 222, 226, 230;
$secondary-bg: #222;
$secondary-bg-rgb: 34, 34, 34;
$tertiary-color: rgba(222, 226, 230, 0.5);
$tertiary-color-rgb: 222, 226, 230;
$tertiary-bg: #222222;
$tertiary-bg-rgb: 34, 34, 34;
$primary-text-emphasis: #7ac0f8;
$secondary-text-emphasis: white;
$success-text-emphasis: #94cf96;
$info-text-emphasis: #c47dd0;
$warning-text-emphasis: #ffc166;
$danger-text-emphasis: #ef777b;
$light-text-emphasis: #f8f9fa;
$dark-text-emphasis: #dee2e6;
$primary-bg-subtle: #071e31;
$secondary-bg-subtle: #333333;
$success-bg-subtle: #0f2310;
$info-bg-subtle: #1f0823;
$warning-bg-subtle: #331e00;
$danger-bg-subtle: #2e0607;
$light-bg-subtle: #222;
$dark-bg-subtle: #111111;
$primary-border-subtle: #145a92;
$secondary-border-subtle: #999999;
$success-border-subtle: #2e6930;
$info-border-subtle: #5e176a;
$warning-border-subtle: #995b00;
$danger-border-subtle: #891115;
$light-border-subtle: #444;
$dark-border-subtle: #222;
$heading-color: inherit;
$link-color: #7ac0f8;
$link-hover-color: #95cdf9;
$link-color-rgb: 122, 192, 248;
$link-hover-color-rgb: 149, 205, 249;
$code-color: #f18bba;
$code-block-bg-alpha: -.8;
$highlight-color: #dee2e6;
$highlight-bg: #663d00;
$border-color: #444;
$border-color-translucent: rgba(255, 255, 255, 0.15);
$form-valid-color: #94cf96;
$form-valid-border-color: #94cf96;
$form-invalid-color: #ef777b;
$form-invalid-border-color: #ef777b;